.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.header-button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}

.header-button:hover {
    background-color: #c9c6c6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-button img {
    width: 180px;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-nav a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #393447;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.footer-button {
    border: none;
    cursor: pointer;
}

.footer-button img {
    width: 180px;
}